<% page_title("Latest Travel Stories from around the globe.") %>

<% content_for :rightCol do %>
  <% if (current_user) 
    if (current_user.email == "fighella@gmail.com") %>
    <%=  link_to 'New Post', new_post_path %>
  <% end
  end %> 
<% end %>     

<% @posts.each do |post| %>
  <div style="position: relative; width: 660px; display: block;">
    <%= social_helpers(post.id, post.title, post.body, "box") %>  

    <h2><%=  post.title %></h2>
    <p><%= raw RedCloth.new(post.body).to_html %>  </p>
      <%= link_to 'Read More', post %>
    <% if (current_user) 
      if (current_user.email == "fighella@gmail.com") %>
     
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>      
    <% end
    end %>  
  </div>
<% end %>
<br/>


