<% page_title("Latest Travel Stories from around the globe.") %>

<h1 class="mini-header"><span>All Posts</span></h1>


<% @posts.each do |post| %>
  <div class="post_teaser">
    <%= social_helpers(post.permalink, post.title, post.body, "box") %>  

    <h2><%= link_to post.title, post_path(post) %></h2>
    
    <p><%= raw RedCloth.new(post.body).to_html if post.body? %>  </p>
    <div class="post_info">
      <p>Author - Name / Linked to Author Profile -- <%= posted_at(post.created_at) %></p>  
    </div><!-- .post_info -->
    <div class="post_links">
    
    <%= link_to 'Read Post', post_path(post) %> | Comments (<%= @graph.get_object("http://odation.com/posts/#{post.permalink}")["comments"] %>)</div>


  
  </div>
<% end %>
<br/>   

<%= admin_area do %>
  <%=  link_to 'Add a New Post', new_post_path %>
<% end %>


<% content_for :rightCol do %>

<% end %>     


