<% page_title("Latest Travel Stories from around the globe.") %>

<h1 class="mini-header"><span>All Posts</span></h1>


<% @posts.each do |post| %>
  <div class="post_teaser">
    <%= social_helpers(post.id, post.title, post.body, "box") %>  

    <h2><%=  post.title %></h2>
    
    <p><%= raw RedCloth.new(post.body).to_html %>  </p>
    <div class="post_info">
      <p>Author - Name / Linked to Author Profile -- <%= posted_at(post.created_at) %></p>  
    </div><!-- .post_info -->
    <div class="post_links">
    
    <%= link_to 'Read Post', post %> | Comments (A number)</div>
  
  </div>
<% end %>
<br/>   

<%= admin_area do %>
  <%=  link_to 'Add a New Post', new_post_path %>
<% end %>


<% content_for :rightCol do %>

<% end %>     

