<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title><%= yield :title || "Odation - A different take on accommodation" %></title>
  
 
 <%= yield :meta %>

  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'facebox', 'jquery.cookie', 'nested_form', 'jquery.tokeninput' %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript"> 
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : 'images/loading.gif',
        closeImage   : 'images/closelabel.png'
      })
      $(".hide").click(function () {
        $(".hide").parent().parent().hide("medium");
        $.cookie('login_strap', 'collapsed'); 
      });
       var loginStrap = $.cookie('login_strap');
      	if (loginStrap == 'collapsed') {
      		$('.loginStrap').css("display","none");
      	};
      })
  </script>   
  <script src="http://connect.facebook.net/en_US/all.js#appId=109302305823116&amp;xfbml=1"></script>
 
</head>
<body>
  <% environment(Rails.env) do %>
    <div style="position: absolute; top: 0; left: 0; margin: 4px; border: 1px solid red; background: #fff; padding: 10px; z-index:1000 ">
    <p><%= Rails.env.capitalize %></p>
    </div>
  <% end %>
  <%= not_signed_in do %>
    <%= render 'shared/loginStrap' %>
  <% end %>
   
  <div class="page">

    <div class="pageWrapper">
      <div id="header">
        <%= render 'shared/headerStrap' %>
        <%= render 'shared/headerNav' %>
      </div><!-- #header -->
      
      <div id="body">
        <div class="leftCol">
        
          <%= flash[:notice] %>
          
          <%= yield %> 
        
        </div><!-- .leftCol -->

        <div class="rightCol">
        
          <%= signed_in do %>
            <div class="block">
          
              <div class="blockContent">
                <%= image_tag current_user.image_url(:small_teaser)  if current_user.image_url  %>
                User id - <%= current_user.id %><br/>
                <%= current_user.email %> - <%= link_to "Edit", edit_user_path(current_user) %><br/>
                
                
                <% link_to 'Sign Out', destroy_session_url(current_user) %> 
              
              </div><!-- .blockContent -->
            
            </div><!-- .block --> 
          <% end %>  
        
          <div class="block">
            <div class="blockContent">
              <h3>Odation is Socially Acceptable</h3>
              
              <div id="fb-root" style="margin-top: 8px;"></div><fb:like href="http://odation.com" send="false" width="220" show_faces="true" font=""></fb:like>
            </div><!-- .blockContent -->
          </div><!-- .block -->
         
          <div style="clear: both;"></div>
          
          <%= yield :rightCol %>  
          
          
         <!--  <div id="recent_episodes">
            <h3>Recent Railscasts Episodes</h3>
            <ul>
              <% for entry in FeedEntry.all(:limit => 10, :order => "published_at desc") %>
                <li>
                  <%= link_to h(entry.name), entry.url %>
                </li>
              <% end %>
            </ul>
          </div> -->
          
          <%= google_ads do %>
            <% render 'shared/google_ads' %>
          <% end %>
          
        
        </div><!-- .rightCol -->

        <div class="clearfix" style="clear: both;"></div><!-- .clearfix -->               

      </div><!-- #body -->
    </div><!-- .pageWrapper -->  

    <div id="footer">
      <div class="pageWrapper">
        <ul>
          <li><a href="">Melbourne Hotels</a></li>
          <li><a href="">Sydney Hotels</a></li>
          <li><a href="">Bali Accommodation</a></li>
          <li><a href="">Singapore Hotels</a>  </li>
          <li><a href="">Gold Coast Accommodation</a></li>
        </ul>
        <ul>
          <li><a href="">Phuket Accommodation</a></li>
          <li><a href="">Kuala Lumpur Hotels</a></li>
          <li><a href="">Hong Kong Hotels</a></li>
          <li><a href="">London Accommodation</a></li>
          <li><a href="">Dubai Accommodation</a></li>
        </ul>
        <ul>
          <li><a href="">New York City Hotels</a></li>
          <li><a href="">Las Vegas Hotels</a></li>
          <li><a href="">Paris Hotels</a></li>
          <li><a href="">Bangkok Accommodation</a></li>
          <li><a href="">Amsterdam Accommodation</a></li>
        </ul>
        <ul>
          <li>    
            <fb:activity site="odation.com" width="300" height="180" header="true" font="" border_color="" style="background: #fff;" recommendations="true"></fb:activity>
          </li>
        </ul>                 
        
        <%= image_tag "footer_logo.jpg", :title => "Footer Logo", :class => "footer-logo" %>
        
        <div class="clearfix" style="clear: both;"></div><!-- .clearfix -->
        
        <p>&copy; bottlebrush | <a href="/terms.html">Terms and Conditions</a> | <a href="/privacy.html">Privacy Policy</a> </p>
      </div><!-- .pageWrapper -->
      
    </div><!-- #footer -->

    
  
</div><!-- .page -->


       
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-819046-22']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
